<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <welcome-file-list>
        <welcome-file>
            home
        </welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>home</filter-name>
        <filter-class>filter.HomeFilter</filter-class>
    </filter>
    <filter>
        <filter-name>admin</filter-name>
        <filter-class>filter.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>home</filter-name>
        <url-pattern>/Home.jsp</url-pattern>
        <url-pattern>/Cart.jsp</url-pattern>
        <url-pattern>/Detail.jsp</url-pattern>
        <url-pattern>/Login.jsp</url-pattern>
        <url-pattern>/Signup.jsp</url-pattern>
        <url-pattern>/detail</url-pattern>
        <url-pattern>/search</url-pattern>
        <url-pattern>/brand</url-pattern>
        <url-pattern>/category</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/Login.jsp</url-pattern>
        <url-pattern>/managerproduct</url-pattern>
        <url-pattern>/ManagerProduct.jsp</url-pattern>
        <url-pattern>/ManagerAccount.jsp</url-pattern>
        <url-pattern>/Statistic.jsp</url-pattern>
        <url-pattern>/UpdateProduct.jsp</url-pattern>
        <url-pattern>/ManagerOrder.jsp</url-pattern>
        <url-pattern>/OrderList.jsp</url-pattern>
        <url-pattern>/PendingList.jsp</url-pattern>
        <url-pattern>/deleteproduct</url-pattern>
        <url-pattern>/addcategory</url-pattern>
        <url-pattern>/buy</url-pattern>
        <url-pattern>/statistic</url-pattern>
        <url-pattern>/loaddata</url-pattern>
        <url-pattern>/addproduct</url-pattern>
        <url-pattern>/updateproduct</url-pattern>
        <url-pattern>/managerorder</url-pattern>
        <url-pattern>/pendinglist</url-pattern>
        <url-pattern>/orderlist</url-pattern>
        <url-pattern>/manageraccount</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>admin</filter-name>
        <url-pattern>/managerproduct</url-pattern>
        <url-pattern>/ManagerProduct.jsp</url-pattern>
        <url-pattern>/ManagerAccount.jsp</url-pattern>
        <url-pattern>/Statistic.jsp</url-pattern>
        <url-pattern>/UpdateProduct.jsp</url-pattern>
        <url-pattern>/ManagerOrder.jsp</url-pattern>
        <url-pattern>/OrderList.jsp</url-pattern>
        <url-pattern>/PendingList.jsp</url-pattern>
        <url-pattern>/deleteproduct</url-pattern>
        <url-pattern>/addcategory</url-pattern>
        <url-pattern>/statistic</url-pattern>
        <url-pattern>/loaddata</url-pattern>
        <url-pattern>/addproduct</url-pattern>
        <url-pattern>/updateproduct</url-pattern>
        <url-pattern>/managerorder</url-pattern>
        <url-pattern>/pendinglist</url-pattern>
        <url-pattern>/orderlist</url-pattern>
        <url-pattern>/manageraccount</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>controller.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailServlet</servlet-name>
        <servlet-class>controller.DetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrandServlet</servlet-name>
        <servlet-class>controller.BrandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>controller.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerProductServlet</servlet-name>
        <servlet-class>controller.ManagerProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>controller.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoryServlet</servlet-name>
        <servlet-class>controller.AddCategoryServlet</servlet-class>
    </servlet>
    <!--    <servlet>
        <servlet-name>AddBrandServlet</servlet-name>
        <servlet-class>controller.AddBrandServlet</servlet-class>
    </servlet>-->
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>controller.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>controller.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadData</servlet-name>
        <servlet-class>controller.LoadDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopServlet</servlet-name>
        <servlet-class>controller.ShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyServlet</servlet-name>
        <servlet-class>controller.BuyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowServlet</servlet-name>
        <servlet-class>controller.ShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessServlet</servlet-name>
        <servlet-class>controller.ProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>controller.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BestSellServlet</servlet-name>
        <servlet-class>controller.BestSellServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticServlet</servlet-name>
        <servlet-class>controller.StatisticServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerOrderServlet</servlet-name>
        <servlet-class>controller.ManagerOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailOrder</servlet-name>
        <servlet-class>controller.DetailOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PedingListServlet</servlet-name>
        <servlet-class>controller.PedingListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerAccountServlet</servlet-name>
        <servlet-class>controller.ManagerAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailServlet</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrandServlet</servlet-name>
        <url-pattern>/brand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerProductServlet</servlet-name>
        <url-pattern>/managerproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/deleteproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoryServlet</servlet-name>
        <url-pattern>/addcategory</url-pattern>
    </servlet-mapping>
    <!--    <servlet-mapping>
        <servlet-name>AddBrandServlet</servlet-name>
        <url-pattern>/addbrand</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/addproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/updateproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadData</servlet-name>
        <url-pattern>/loaddata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyServlet</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowServlet</servlet-name>
        <url-pattern>/show</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessServlet</servlet-name>
        <url-pattern>/process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BestSellServlet</servlet-name>
        <url-pattern>/bestsell</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticServlet</servlet-name>
        <url-pattern>/statistic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerOrderServlet</servlet-name>
        <url-pattern>/managerorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailOrder</servlet-name>
        <url-pattern>/detailorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PedingListServlet</servlet-name>
        <url-pattern>/pendinglist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerAccountServlet</servlet-name>
        <url-pattern>/manageraccount</url-pattern>
    </servlet-mapping>
    <web-config>
        <session-config>
            <session-timeout>30</session-timeout>
        </session-config>
    </web-config>
</web-app>
